#heading{
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-variant:normal;
    text-align: justify;
    background-color: 00FFF0;
}
.description{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-style: oblique;
    font-variant:small-caps;
    text-align: start;
}